.app {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: lightgray;
  display: flex;
  flex-direction: row;
}

.input-box {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
}

.converted-text-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  width: 50%;
}

.box {
  border-radius: 5px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  word-wrap: break-word;
}

::placeholder {
  color: black;
}

.larger-font {
  font-size: 4em;
}
